


# HARDWARE
[include hardware/printer.cfg]
[include hardware/axis.cfg]
[include hardware/extruder.cfg]
[include hardware/heated-bed.cfg]
[include hardware/filament-sensor.cfg]
[include hardware/bed-calibration.cfg]
[include hardware/fans.cfg]
[include hardware/display.cfg]

# MACROS
[include macros/beeper.cfg]
[include macros/park.cfg]
[include macros/homing-calibrate.cfg]
[include macros/print-start_stop.cfg]
[include macros/filament-change.cfg]
[include macros/countdown.cfg]
[include macros/temp-check.cfg]
#Kompatibilitaet mit Prusa MK3
[include macros/marlin-compat.cfg]
