[extruder]
dir_pin: P2.6
enable_pin: !P2.1
step_pin: P2.2
microsteps: 16
rotation_distance: 3.8554
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp=23.654 
pid_Ki=1.213 
pid_Kd=115.313
min_temp: 0
max_temp: 305
# The max extrude cross section is increased for the purge line, but in theory
# its probably a bad idea to have it this large, as its purpose is to catch
# poorly sliced objects that extrude too much for small moves.
max_extrude_cross_section: 50.0
# Allows to load filament and purge up to 500mm
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120.0
max_extrude_only_accel: 1250.0
pressure_advance: 0.08
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: P1.10
run_current: .513757
sense_resistor: 0.110